:root {
   --font-family: "Roboto", sans-serif;
   --second-family: "Raleway", sans-serif;

   --primary-brand: #4d5ae5; /* iris */
   --pressed-btn: #404bbf; /* ocean */ 
   --dark: #2e2f42; /* navy-blue */
   --text: #434455; /* slate*/
   --light: #f4f4fd; /* cloud */
   --primary: #fff; /* white */
 }

body{
   background-color: var(--primary);
   color: var(--text);
   font-family: var(--font-family);
   font-weight: 400;
   font-size: 16px;
   letter-spacing: 0.02em;
   line-height: 1.5;
}
.list{
   list-style: none;
}
.link{
   color: var(--dark); 
   text-decoration: none;
}
.section__title{
   font-family: var(--font-family);
   text-align: center;
   font-size: 36px;
   font-weight: 700;
   line-height: 1.1;
}
.item-title{
   color: var(--dark);
   font-size: 20px;
   font-weight: 500;
   line-height: 1.2;
}
button{
   font-family: inherit;
   text-align: center;
   font-size: 16;
   font-weight: 500;
   line-height: 1.2;
   letter-spacing: ;
   direction: underline;
}
/*
.visualli-hidden {
   position: absolute;
   width: 1px;
   height: 1px;
   margin: -1px;
   border: 0;
   padding: 0;
   white-space: nowrap;
   clip-path: inset(100%);
   clip: rect(0 0 0 0);
   overflow: hidden;
 }*/


.container{
}
header {
}
footer{
   background-color: var(--dark);
   color: var(--primary);
}
footer a{
   color: var(--light);
}



/* -------------------------Main Page-------------------------------- */

/*--- Header ---*/
.logo {
   text-decoration: none;
   text-transform: uppercase;
   font-family: var(--second-family);
   font-weight: 800;
   font-size: 18px;
   letter-spacing: 0.03em;
   line-height: 1.2;
}
.logo__web{
   color: var(--primary-brand);
}
.menu__item {
   font-weight: 500;
}
.menu__item a:hover,
.menu__item a:focus{
   color: var(--primary-brand);
}


/*--- hero ---*/
.hero {
   background-color: var(--dark);
}
.title {
   color: var(--primary);
   font-size: 56px;
   text-align: center;
   font-weight: 500;
}
.hero__btn{
   background-color: var(--primary-brand);
   color: var(--primary);
}


/*--- Advantages ---*/


/*--- Gadjets ---*/


/*--- Team ---*/
.team {
   background-color: var(--light);
}
.team__list-item {
   background-color: var(--primary);
}



/* -------------------------Portfolio---------------------------- */

.portfolio__btn {
   color: var(--iris);
   background-color: var(--light);
   border-color: #0e21d9;
}
.portfolio__btn:hover,
.portfolio__btn:focus {
   color: var(--primary);
   background-color: var(--pressed-btn);
}
.portfolio__works-item {
   border-color: #e7e9fc;
}